.contact {
    color: #fff;
    background: #10041A;
    padding-bottom: 5rem;

    &-wrapper {
        width: 21.375rem;
        margin: 0 auto;
    }

    &-title {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.25rem;
        letter-spacing: 0em;
        text-align: left;
        margin: 0 0 2.5rem 0;
        text-transform: uppercase;
    }

    &-link {
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
        letter-spacing: 0.015em;
        text-align: left;
        margin: 0 0 1rem 2.75rem;
    }

    &-number::after {
        content: '';
        position: absolute;
        top: 5px;
        left: -45px;
        width: 1.5rem;
        height: 1.5rem;
        background: url('../assets/img/mobile_icon.svg') center no-repeat;
    }

    &-email {
        margin-bottom: 1.25rem;
    }

    &-email::after {
        content: '';
        position: absolute;
        top: 5px;
        left: -45px;
        width: 1.5rem;
        height: 1.5rem;
        background: url('../assets/img/email_icon.svg') center no-repeat;
    }

    &-adress {
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: left;
        margin: 0 0 2.5rem 0;
    }

    &-map {
        -moz-border-radius: 14px 14px 14px 14px;
        /* Firefox */
        -webkit-border-radius: 14px 14px 14px 14px;
        /* Safari, Chrome */
        -khtml-border-radius: 14px 14px 14px 14px;
        /* KHTML */
        border-radius: 14px 14px 14px 14px;
        /* CSS3 */
        overflow: hidden;
        position: relative;
        background: url('../assets/img/map_background_desktop.jpg') center no-repeat;
    }

    &-frame {
        border: none;
    }
}

@media (min-width: @desktop-width) {
    .contact {
        &-wrapper {
            width: 72.5rem;
            background: #fff;
            border-radius: 0 0 2.25rem 2.25rem;
            padding-bottom: 6.25rem;
        }

        &-center {
            position: relative;
            width: 60rem;
            margin: 0 auto;
        }

        &-title {
            font-size: 4rem;
            line-height: 3.625rem;
            color: #000;
            width: 41.188rem;
        }

        &-link {
            color: #7A1FC1;
        }

        &-number::after {
            background: url('../assets/img/mobile_icon_pink.svg') center no-repeat;
        }

        &-email::after {
            background: url('../assets/img/email_icon_pink.svg') center no-repeat;
        }

        &-adress {
            font-size: 1.25rem;
            line-height: 1.875rem;
            color: #000;
            position: absolute;
            top: 150px;
            right: 0;
            width: 560px;
        }

        &-map {
            width: 60rem;
            background: url('../assets/img/map_background_desktop.jpg') center no-repeat;
        }

        &-frame {
            width: 60rem;
        }

        &-email {
            margin-bottom: 3.75rem;

            &:hover {
                color: #6A1BA8;
                &::after {
                    background: url('../assets/img/email_icon_hover.svg') center no-repeat;
                }
            }

            &:active {
                color: #8A24DB;
                background: url('../assets/img/email_icon_active.svg') center no-repeat;
                &::after {
                    background: url('../assets/img/email_icon_active.svg') center no-repeat;
                }
            }
        }

        &-number {
            &:hover {
                color: #6A1BA8;
                &::after {
                    background: url('../assets/img/mobile_icon_hover.svg') center no-repeat;
                }
            }

            &:active {
                color: #8A24DB;
                &::after {
                    background: url('../assets/img/mobile_icon_active.svg') center no-repeat;
                }
            }
        }
    }
}
