.defend {
    width: 21.4rem;
    margin: 0 auto;

    &-title {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.37rem;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 1rem;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
    }

    &-description {
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: left;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 21.43rem;
        margin: 0 auto;
    }

    &-item {
        color: #fff;
        background: #230F33;
        border-radius: 24px;
        margin-bottom: 1.25rem;

        &-wrapper {
            width: 18.43rem;
            margin: 0 auto;
        }

        &:last-child {
            margin-bottom: 5rem;
        }

        &-title {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.87rem;
            letter-spacing: 0.015em;
            text-align: left;
            padding: 2.25rem 0 1.25rem 0;
            text-transform: uppercase;
        }

        &-text {
            line-height: 1.5rem;
            letter-spacing: 0.015em;
            text-align: left;
            margin: 0 auto;
            padding-bottom: 2.5rem;
        }

        &-time {
            line-height: 1.5rem;
            letter-spacing: 0.015em;
            text-align: left;
        }

        &-percent {
            line-height: 1.5rem;
            letter-spacing: 0.015em;
            text-align: left;
            padding-bottom: 2.875rem;
        }
    }
}

.defend-time-bold {
    font-weight: 600;
}

.percent-pink {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.62rem;
    letter-spacing: 0em;
    text-align: left;
    color: #E625B0;
}

.defend-percent {
    font-family: 'Chathura', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.62rem;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 0.75rem;
}

@media (min-width: @desktop-width) {
    .defend {
        margin: 0 0 12.5rem;
        width: 100%;

        &-parallax-wrapper {
            display: flex;
            position: relative;
            width: 72.5rem;
            margin: 0 auto;
        }

        &-title {
            font-size: 6rem;
            line-height: 5.375rem;
            margin: 0;
        }

        &-wrapper {
            align-self: flex-start;
            position: sticky;
            top: 0;
            width: 21rem;
            margin-right: 3.125rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        &-item {
            width: 760px;

            &:first-child {
                background: url('../assets/img/1.svg') 100% 100% no-repeat, #230F33;
            }

            &:nth-child(2) {
                background: url('../assets/img/2.svg') 100% 100% no-repeat, #230F33;
            }

            &:last-child {
                background: url('../assets/img/3.svg') 100% 750% no-repeat, #230F33;
            }


            &-title {
                margin: 2.5rem 2.5rem 5rem 0;
                padding: 0;
                width: 220px;
            }

            &-text {
                margin-top: 2.5rem;
                width: 391px;
            }

            &-time {
                order: 1;
                margin-top: 2.813rem;
                margin-left: 1.75rem;
            }
        }

        &-item-wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 651px;
        }
    }
}
