.happy {
    margin-bottom: 5rem;
    &-button {
        position: relative;
        color: #fff;
        border: none;
        background: none;
        display: block;
        font-weight: 600;
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 2.75rem;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            top: 7px;
            right: 75px;
            width: 8px;
            height: 8px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
        }
    }

    &-title {
        margin: 0 auto;
        padding-left: 1rem;
        width: 21.438rem;
        font-family: 'Alumni Sans', sans-serif;
        font-size: 3.75rem;
        font-weight: 700;
        line-height: 3.375rem;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
    }

    &-list {
        padding: 0;
        margin: 0;
    }

    &-item {
        list-style: none;
        margin: 0 auto 2.5rem;
        background: #230F33;
        width: 21.438rem;
        border-radius: 24px;
        color: #fff;

        &-wrapper {
            margin: 0 auto;
            width: 18.438rem;
        }

        &-hidden {
            display: none;
        }
    }
}

.item {
    &-name {
        margin: 2.5rem ;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
        letter-spacing: 0.015em;
        text-align: left;
        text-transform: uppercase;
        padding: 2rem 0 0.75rem;
    }

    &-problem {
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: left;
        margin: 0 0 1.25rem 0;
    }

    &-result {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
        letter-spacing: 0.015em;
        text-align: left;
        text-transform: uppercase;
        margin: 0 0 0.5rem 0;
    }

    &-total {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: #E525B0;
        text-transform: uppercase;
    }

    &-result-description {
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: left;
        margin: 0 0 1.25rem 0;
    }
}

#hidden-feedback {
    display: none;
}
