// Логотип
.logo {
    padding-bottom: 9.5rem;

    &-image {
        padding-top: 0.9em;
        padding-left: 1rem;
    }

    &-link {
        display: inline-block;
        height: 100%;
    }

    &-wrapper {
        position: relative;
        width: 23.438rem;
        margin: 0 auto;
    }
}

.main-nav--closed .logo {
    padding: 0;
    padding-bottom: 0.6rem;
}

@media (min-width: @desktop-width) {
    .logo {
        width: 9.563rem;

        &-wrapper {
            width: 0;
            margin: 0;
        }
    }
}
