.site-list {
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    background: #000;
    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}
