.modal {
    text-align: center;
    overflow-x: auto;
    display: none;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    &-title {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.375rem;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 2.5rem;
    }

    &-text {
        line-height: 1.5rem;
        letter-spacing: 0.015em;
        text-align: center;
    }

    &-wrapper {
        width: 14.25rem;
        margin: 0 auto;
        padding-bottom: 11.25rem;
    }

    &-logo {
        text-align: left;
    }

    &-close-btn {
        border: none;
        background: #000;
        position: absolute;
        right: 20px;
        top: -2px;
        width: 32px;
        height: 32px;

        &::before,
        &::after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #fff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.modal-show {
    display: block;
}

@media (min-width: @desktop-width) {
    .modal {
        overflow: none;
        color: #000;
        background: rgba(0, 0, 0, 0.4);

        &-wrapper {
            padding-bottom: 2rem;
        }

        &-title {
            margin: 0;
            margin-top: 80px;
            padding-bottom: 20px;
        }

        &-text {
            margin: 0;
        }

        &-desktop-wrapper {
            width: 35rem;
            height: 24.125rem;
            position: fixed;
            top: 20%;
            left: 50%;
            padding: 20px;
            margin-left: -200px;
            background: #fff;
            border-radius: 4px;
            z-index: 99999;
            opacity: 1;
            border-radius: 36px;
        }

        &-close-btn {
            border: none;
            background: #fff;
            position: absolute;
            right: 20px;
            top: 10px;
            width: 32px;
            height: 32px;

            &::before,
            &::after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 2px;
                background-color: #000;
            }
        }
    }

    .modal .logo {
        display: none;
    }

    .modal .logo-wrapper {
        position: static;
        width: 560px;
        margin: 0 auto;
    }
}
