.protect {
    background: #000;
    &-wrapper {
        background: linear-gradient(180deg, rgba(122, 31, 193, 0.8) -15.13%, rgba(230, 37, 176, 0.8) 55.23%),
            url('../assets/img/banner_background_mobile.jpg') center no-repeat;
        border-radius: 24px;
        background-size: 100%;
        min-height: 520px;
    }

    &-title {
        font-family: Alumni Sans;
        font-size: 60px;
        color: #fff;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }

    &-text {
        font-family: 'Gothic A1', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: #fff;
    }

    &-button {
        background: #fff;
        color: #E625B0;
    }
}
