// блок защиты от wildberies
.protect {
    background: #000;

    &-wrapper {
        background: linear-gradient(180deg, rgba(122, 31, 193, 0.8) -15.13%, rgba(230, 37, 176, 0.8) 55.23%),
            url('../assets/img/banner_background_mobile.jpg') center no-repeat;
        border-radius: 24px;
        background-size: cover;
        min-height: 520px;
    }

    &-title {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 60px;
        color: #fff;
        font-weight: 700;
        line-height: 90%;
        text-align: left;
        margin: 0;
        padding-top: 1.6em;
        padding-left: 0.3em;
        text-transform: uppercase;
    }

    &-text {
        text-align: left;
        color: #fff;
        line-height: 150%;
        padding-left: 1em;
        padding-bottom: 2.5em;
    }

    &-button {
        background: #fff;
        color: #E625B0;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
