.about-video {
    width: 21.37rem;
    border-radius: 1.5rem;
}

.video-wrapper {
    position: relative;
    min-height: 15rem;
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
}

.playpause {
    background: url('../assets/img/video_play.svg') center no-repeat;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -36%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

@media (min-width: @desktop-width) {
    .about-video {
        width: 72.5rem;
        min-height: 40.75rem;
    }

    .playpause {
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }

    .show {
        display: block;
    }

    .hidden {
        display: none;
    }
}
